/*TODO: PurifyCSS*/

@media (max-width: 450px) { // for mobile devices
    .button{
      margin: 0;
     }
}
html * {
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  background: #F4F6F8;
  margin: 0;
  position: relative;
}

header {
  height: 82px;
  background: #FFFFFF;
  text-align: center;
}

header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

p {
  margin: 0;
}

#container {
  display: flex;
  height: 100%;
}

#logo {
  background: url(img/logo.png);
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

#card {
  background: #FFFFFF;
  border: 1px solid;
  border-color: #CED4DB;
  width: 510px;
  margin: 28px auto 0 auto;
  max-width: 100%;
}

#tracking {
  border-top: 1px solid;
  border-color: #CED4DB;
  margin: 0 28px 0 28px;
  flex: 1;
}

#shippingInfoContainer {
  display: flex;
  margin: 30px 28px 0 28px;
}

#itemImage {
  order: -1;
  height: 109px;
  width: 108px;
}

#buttonContainer {
  display: flex;
  margin: 0 28px 30px 28px;
}

.addressCell {
  margin-left: 30px;
}

.direction {
  font-weight: bold;
  font-size: 11px;
  color: #84919C;
  margin-top: 0px;
}

.name {
  color: #333333;
  font-size: 18px;
  margin-top: 5px;
}

.address {
  color: #84919C;
  font-size: 13px;
  margin: 5px 0 40px 0;
}

.button {
  border: 1px solid;
  border-color: #5094CF;
  background: #FFFFFF;
  width: 450px;
  max-width: 100%;
  height: 48px;
}

.buttonBorder {
  margin-left: 28px;
  margin-right: 28px;
  max-width: 100%;
}

.shareText {
  color: #5094CF;
  font-size: 15px;
  margin: 0 auto;
}

.loading {
  color: #CED4DB;
  margin: 28px auto 0 auto;
  display: block;
}
