html * {
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  background: #F4F6F8;
  margin: 0;
  position: relative;
}

header {
  height: 82px;
  background: #FFFFFF;
  overflow: hidden;
  text-align: center;
}

header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

#logo {
  background: url(img/logo.png);
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  height: 100%;
  vertical-align: middle;
}

#card {
  background: #FFFFFF;
  border: 1px solid;
  border-color: #CED4DB;
  width: 510px;
  margin: 28px auto 0 auto;
  display: block;
}

#tracking {
  border-top: 1px solid;
  border-color: #CED4DB;
  margin: 0 28px 0 28px;
}

.button {
  border: 1px;
  border-color: #5094CF;
}

.shareText {
  color: #5094CF;
}

.loading {
  color: #CED4DB;
  margin: 28px auto 0 auto;
  display: block;
}